/* Обнуление */
@import "null.css";



/* -------------------------------------------------------------------- */

.wrapper {
	height: 100%;
	overflow: hidden;
}

.container {

}

.lighthouse {}

.lighthouse__container {
	position: relative;
	max-width: 1400px;
	background: rgb(51, 51, 141);
	height: 850px;
	margin: 50px auto;
	overflow: hidden;
	animation: sky 20s linear infinite normal ;
}
.lighthouse__sun {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 600px;
	left: -150px;
	border-radius: 50%;
	background: rgb(203, 222, 36);
	animation: sun 20s linear  infinite normal;
	z-index: 1;
}

@keyframes sky{
	0%{
		background: rgb(32, 32, 98)
	}
	20%{
		background: rgb(235, 86, 98);
	}
	40% {
		
		background: rgb(112, 188, 232);
	}
	60%{
		background: rgb(72, 169, 226);
	}
	80%{
		background: rgb(235, 86, 98);
	}
	100%{
		background: rgb(32, 32, 98)
	}
}
@keyframes sun {
	0% {
		top: 500px;
		left: -250px;
	}

	10% {
		
		top: 400px;
		left: 0px;
	}

	20% {

		top: 300px;
		left: 150px;
	}

	30% {
		
		top: 200px;
		left: 300px;
	}

	40% {
		top: 100px;
		left: 450px;
	}
	50% {
		top: 50px;
		left: 600px;
	}
	60% {
		top: 100px;
		left: 750px;
	}
	70% {
		top: 200px;
		left: 900px;
	}
	80% {
		top: 300px;
		left: 1050px;
	}
	90% {
		top: 400px;
		left: 1200px;
	}
	100% {
		top: 500px;
		left: 1450px;
	}
}

.lighthouse__ground {
	position: absolute;
	width: 1500px;
	border-radius: 50%;
	height: 950px;
	background: #f4a460;
	top: 550px;
	left: 700px;
	z-index: 4;
}
/* ----------------------------------SEA---------------------------------------------- */
.lighthouse__sea {
	position: relative;
	width: 1400px;
	height: 200px;
	top: 750px;
	background-color: rgb(27, 213, 194);
}
.lighthouse__wave1 {
	top: -45px;
	left: 0px;
	position: absolute;
	z-index: 3;
	animation: wave-bottom 5s cubic-bezier(0.645, 0.045, 0.355, 1) infinite normal;
}

.wave1 {
	width: 1700px;
	height: 530px;
}
.lighthouse__wave2 {
	top: -155px;
	left: -250px;
	position: absolute;
	transform: scale(-1, 1);
	animation: wave-top 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite normal;
	z-index: 1;
}

.wave2 {
	width: 1400px;
	height: 380px;
}

@keyframes wave-bottom {
	0%{
		left: 0px;
	}
	50%{
		left: -100px;
	}
	100%{
		left: 0px;
	}
}
@keyframes wave-top {
	0% {
		left: -250px;
	}

	50% {
		left: 0px;
	}

	100% {
		left: -250px;
	}
}

.lighthouse__boat {}

.boat__item {
	position: absolute;
	z-index: 7;
	top: -300px;
	left: 100px;
	width: 400px;
	height: 400px;
	z-index: 2;
	transform: rotate(-15deg);
	animation: pitching 20s cubic-bezier(0.645, 0.045, 0.355, 1) infinite normal;
}

@keyframes pitching {
	0%{
		transform: rotate(-15deg);
	}
	25%{
		transform: rotate(15deg);
	}
	50%{
		transform: rotate(-15deg);
	}
	75%{
		transform: rotate(15deg);
	}
	100%{ transform: rotate(-15deg);
	}
}
/* --------------------------------------------CLOUD-------------------------------------------------------- */
.lighthouse__cloud {}

.cloud-item-one {
	position: absolute;
	opacity: 1;
	width: 400px;
	left: 200px;
	top: 200px;
	animation: cloud-one 20s cubic-bezier(0.645, 0.045, 0.355, 1) infinite normal;
	z-index: 2;
}



@keyframes cloud-one {
	0%{
		top: 200px;
		opacity: 0;
	}
	25%{
		top: 220px;
		opacity: 0.8;
	}
	50%{
		top: 200px;
		opacity: 1;
	}
	75%{
		top: 220px;
		opacity: 0.8;
	}
	100%{
		top: 200px;
		opacity: 0;
	}
}

.cloud-item-two {
	position: absolute;
	opacity: 1;
	width: 500px;
	left: 800px;
	top: 100px;
	transform: scale(-1, 1);
	transform: rotate(-180deg);
	animation: cloud-two 20s cubic-bezier(0.645, 0.045, 0.355, 1) infinite normal;
	z-index: 2;
}

@keyframes cloud-two {
	0% {
		top: 100px;
		opacity: 0;
	}

	25% {
		top: 50px;
		opacity: 0.8;
	}

	50% {
		top: 100px;
		opacity: 1;
	}

	75% {
		top: 50px;
		opacity: 0.8;
	}

	100% {
		top: 100px;
		opacity: 0;
	}
}

/* ----------------------------------------------LIGHTHOUSE------------------------------------------------ */
.lighthouse__house-light {}

.house-light__item {
	position: relative;
	width: 200px;
	height: 500px;
	left: 1100px;
	top: 80px;
	z-index: 5;

}

.lighthouse__house-light::before {
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgb(205, 232, 5);
	z-index: 6;
	left: 1175px;
	top: 325px;
	opacity: 0;
	animation: light 20s cubic-bezier(0.645, 0.045, 0.355, 1) infinite normal;
}

@keyframes light {
	0%{
		box-shadow: 1px 1px 121px 200px rgba(213, 227, 56, 1);
		opacity: 0.6;
	}
	50%{
		box-shadow: 1px 1px 121px 200px rgba(213, 227, 56, 1);
		opacity: 0;
	}
	75%{
		box-shadow: 1px 1px 121px 200px rgba(213, 227, 56, 1);
		opacity: 0;
	}
	100%{
		box-shadow: 1px 1px 121px 200px rgba(213, 227, 56, 1);
		opacity: 0.6;
	}
}

